DATABASE_URL=postgresql://postgres.zbeknrhjtpmiyvncajhb:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres
SECRET_KEY=hc-secret-key-vishwanath-2024-xk92
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
SUPER_ADMIN_USERNAME=jaisankar
SUPER_ADMIN_PASSWORD=jai@2024
SUPER_ADMIN_EMAIL=jaisankar@happycontractor.in
ENVIRONMENT=development
CORS_ORIGINS=https://hcfrontend-kappa.vercel.app/login
